.main-container {
  max-width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.centralised-content-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../assets/svg/blob-pink.svg), url(../../assets/svg/blob-sun.svg),
    url(../../assets/svg/blob-beige.svg), url(../../assets/svg/blob-blue.svg);
  background-position: 50% 70%, 50% 70%, 30% 50%, 60% 70%;
  background-size: 300px, 300px, 700px, 150px;
  background-repeat: no-repeat;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  justify-self: center;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}