#content-box-baby {
  display: flex;
  flex-direction: column;
  width: 20%;
  min-width: 350px;
  padding: 3%;
  background-color: white;
}

.baby {
  background-image: none;
}

/* button, h1, form, input and label */