#content-box-baby {
  display: flex;
  flex-direction: column;
  width: 20%;
  min-width: 350px;
  padding: 3%;
  background-color: white;
}

.centralised-content-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../assets/svg/blob-pink.svg), url(../../assets/svg/blob-sun.svg),
    url(../../assets/svg/blob-beige.svg), url(../../assets/svg/blob-blue.svg);
  background-position: 50% 70%, 50% 70%, 30% 50%, 60% 70%;
  background-size: 300px, 300px, 700px, 150px;
  background-repeat: no-repeat;
}

.baby {
  background-image: none;
}

/* button, h1, form, input and label */