/* img {
  border-radius: 2%;
  max-width: 100%;
} */

/* #logo {
  font-weight: 700;
  font-size: 2rem;
}

#hero {
  font-size: 2.5rem;
  font-weight: 300;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 15%;
}

#signup-img {
  max-width: 400px;
} */

.signup-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 2rem;
  overflow: scroll;
}

.logo-panel {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 2%;
  box-sizing: border-box;
  position: relative;
}

.signup-content {
  display: flex;
  flex-direction: row;
  height: 90%;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-image: url(../../assets/svg/blob-beige.svg), url(../../assets/svg/blob-sun.svg),
    url(../../assets/svg/blob-blue.svg);
  background-position: bottom right, 50% 80%, 1% 1%;
  background-repeat: no-repeat;
  gap: 6%;
  margin-left: 5%;
  margin-right: 5%;
}

.baby-steps-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
}


.step-container {
  position: relative;
  text-align: center;
  max-width: 600px;
}

.step-content {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.signup {
  max-width: 350px;
  padding: 3% 5%;
  background-color: white;
  border-radius: 2%;
  border: none;
}