.create-panel {
  width: 40%;
  height: 50%;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  background-color: rgb(254, 247, 239);
  z-index: 5;
  border-top-left-radius: 30%;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  position: fixed;
  bottom: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
