.centralised-content-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../assets/blob-pink.svg), url(../../assets/blob-sun.svg),
    url(../../assets/blob-beige.svg), url(../../assets/blob-blue.svg);
  background-position: 50% 70%, 50% 70%, 30% 50%, 60% 70%;
  background-size: 300px, 300px, 700px, 150px;
  background-repeat: no-repeat;
}

#content-box {
  display: flex;
  flex-direction: column;
  width: 20%;
  min-width: 350px;
  padding: 10%;
}

#text {
  line-height: 1.8;
}