.signup-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

#link {
  font-size: 0.8rem;
  text-transform: none;
}
